.input__input-container {
    /* border: 1px solid red; */
    width: 400px;
    /* margin: 20px; */
}

.input__input {
    width: 400px;
    height: 70px;
    font-size: 30px;
    border-radius: 12px;
    background: orange;
    color: white;
    border: 0px solid;
}
.input__option {
    color: grey;
}