.gigs__have-i-played-here-container {
    /* background-image: url('/static/audience.jpg'); */
    margin-top: 20px;
    contain: content;
    border: 3px solid lightgrey;
    /* background: darkslategrey; */
    width: 100%;
    max-width: 100%;
    /* animation: shit 0.8s infinite; */
}

.gigs__have-i-played-here-container > div > h4 {
    background: black;
    color: white;
}

.gigs__have-i-played-here-container > div {
    /* border: 1px solid red; */
    z-index: 70;
    opacity: 1;
}

.gigs__have-i-played-here-container button.btn {
    /* border: 1px solid red; */
    z-index: 70;
}

.gigs__have-i-bg {
    width: 100%;
    max-width: 100%;
    height: auto;
    contain: content;
    position: absolute;
    left: 1px;
    opacity: 0.4;
}

.__yes {
    border: 3px solid white;
}

.__no {
    border: 3px solid orange;
}

@media screen and (max-width: 500px) {
    .gigs__have-i-played-here-container {
        margin-bottom: 50px;
    }
}