.map__container {
  width: 100%;
  margin-top: 20px;
}

.div__filters-outer-container {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.div__info-pane-nights {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-columns {
  height: 400px;
}

.centered-row {
  margin-top: 20px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.more-info-row {
  border: 2px solid gold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.map-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.aid-col {
  display: flex;
}

@keyframes fadeIn {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}

.effect {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

/* .map-container {
  border: 12px solid orange;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
} */

.mapMeMarkerStyle {
  background-color: blue;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 3px solid skyblue;
}

.mapBringerStyle {
  background-color: pink;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 2px solid darkred;
}

.mapSelectedStyle {
  background-color: greenyellow;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 2px solid green;
}

.info-pane {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  background: orange;
  transform-origin: 50% 50%;
  border: 1px solid white;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

@keyframes slideIn {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 20px;
  }
}
@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

#strike-through {
  height: 8px;
  width: 80%;
  background: orange;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 20px;
  animation: expandLine;
  animation-duration: 0.8s;
}
.card {
  margin-top: 20px;
  width: 45ch;
  height: auto;
  background: grey;
  border-radius: 12px;
  background-size: cover;
  background-position: center center;
  align-items: center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 20px solid orange;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
  animation: slideIn;
  animation-duration: 0.4s;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.h1-heading {
  margin-bottom: 0;
  z-index: 10;
  text-align: center;
  color: white;
}

.div__cluster {
  animation: fademyshitin 0.6s steps(5, end);
}

.div__cluster p {
  animation: roundedFont 0.6s steps(5, end);
  animation-delay: 0.9s;
}

@keyframes roundedFont {
  from {
    font-weight: 700;
  }

  to {
    font-weight: 300;
  }
}

@keyframes fademyshitin {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 0;
  }
}

.p__cluster {
  font-size: 10px;
}

.h2-subheading {
  text-align: end;
  margin-right: 19px;
  z-index: 10;
}

.bg-img-div {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes transitionYo {
  from {
    border: 0px solid white;
    opacity: 0.7;
  }
  to {
    border: 12px solid black;
    opacity: 0.2;
  }
}

.bg-img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border: 12px solid black;
  animation: transitionYo;
  animation-duration: 0.5s;
}

h3,
h4 {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.p__gig-blurb {
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  z-index: 10;
}

.more-info-each-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-info-each-row > h3 {
  color: white;
}

.more-info-each-row p {
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
}

.slightly-smaller {
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .more-info-each-row {
    flex-direction: column;
  }
  .card .p__gig-blurb {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  .div__info-pane-nights {
    display: flex;
    flex-direction: row;
  }

  .more-info-each-row {
    flex-direction: column;
  }

  .more-info-row {
    width: 90%;
  }

  .card .p__gig-blurb {
    font-size: 16px;
  }
}

@media screen and (max-width: 415px) {
  .card .p__gig-blurb {
    font-size: 12px;
    margin-bottom: 10;
    margin-top: 10;
  }
}

@media screen and (max-width: 400px) {
  .card .p__gig-blurb {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 350px) {
  .h2-subheading {
    font-size: 24px;
  }
}
