.funding {
  background: none;
  position: fixed;
  z-index: 14;
  right: 95px;
  top: -6px;
  height: auto;
  padding: 15px;
  transform: skewY(-2deg);
}

.funding>.flex-col {
  height: 65%;
  border-radius: 15px;
  border: 4px solid white;
  background: orange;
  margin-top: -3px;
  padding: 5px;
}

.funding p {
  color: grey;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 20px;
  background: orange;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 2px;
}

.funding p:hover {
  color: white;
}

.funding__img {
  height: 20px;
  width: auto;
}

#isMob {
  border: 2px solid red;
}

@media screen and (max-width: 900px) {
  .funding {
    background: none;
    position: fixed;
    top: 49px;
    height: auto;
    padding: 7px;
    right: -11px;
    transform: skewY(1deg);
  }
  .funding p {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .funding {
    top: 84%;
  }
  .funding p {
    font-size: 9px;
    color: white;
  }
  .funding p:hover {
    color: red;
  }
}