.title__container {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 12;
  position: absolute;
  top: 21%;
}

.title__container h1 {
  width: 50%;
  /* border: 1px solid purple; */
  background: black;
  color: orange;
  font-family: 'Raleway';
  transform: skewY(-4deg);
}

.page__chatpage .title__container {
  max-height: 160px;
}

@media screen and (max-width: 991px) {

  .act__name {
    width: 90% !important;
  }
}


@media screen and (max-width: 500px) {

  .title__container {
    top: 41%;
  }

  .title {
    width: 80% !important;
   /* font-size: 4vh; */
  }
}


@media screen and (max-width: 450px) {

  .title {
    width: 80%; 
  }
}

