.title__container {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 13;
  /* animation: bounceIn 0.3s; */
}


.title__container h1 {
  width: 50%;
  /* border: 1px solid purple; */
  background: black;
  color: orange;
  font-family: 'Raleway';
  transform: skewY(-4deg);
}

.page__chatpage .title__container {
  max-height: 160px;
}

@media screen and (max-width: 991px) {

  .act__name {
    width: 90% !important;
  }
}